USQL/AddGlossaryTags.json
{
  "name": "ADCColumnBGTag",
  "properties": {
    "activities": [
      {
        "name": "LKP_ASB_Tags",
        "description": "Lookup tags to be added from blob",
        "type": "Lookup",
        "policy": {
          "timeout": "01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "source": {
            "type": "BlobSource",
            "recursive": true
          },
          "dataset": {
            "referenceName": "Storage blob with content from ReadColumnAndTagList.usql",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        }
      },
      {
        "name": "ForEachTag",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "LKP_ASB_Tags",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('LKP_ASB_Tags').output.value",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "CallAzureFunction",
              "type": "WebActivity",
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30
              },
              "typeProperties": {
                "url": "Azure function URL",
                "method": "POST",
                "body": {
                  "tableId": "@item().tableId",
                  "columnName": "@item().columnName",
                  "termId": "@item().termId"
                }
              }
            }
          ]
        }
      }
    ]
  }
}